* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{

    --color-bg: rgb(198, 235, 250) ;
    --color-bg-variant: ;
    --color-primary :
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background:var(--color-bg);
}